[submodule ".vim/bundle/ale"]
	path = .vim/bundle/ale
	url = https://github.com/w0rp/ale
[submodule ".vim/bundle/emmet-vim"]
	path = .vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule ".vim/bundle/goyo.vim"]
	path = .vim/bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/vim-cpp-auto-include"]
	path = .vim/bundle/vim-cpp-auto-include
	url = https://github.com/quark-zju/vim-cpp-auto-include
[submodule ".vim/bundle/vim-cpp-enhanced-highlight"]
	path = .vim/bundle/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight
[submodule ".vim/bundle/vundle.vim"]
	path = .vim/bundle/vundle.vim
	url = https://github.com/vundlevim/vundle.vim
[submodule ".vim/bundle/wal.vim"]
	path = .vim/bundle/wal.vim
	url = https://github.com/dylanaraps/wal.vim
